div {
	background-color:red;
	width: 200px;
	height: 200px;
}

.big-blue {
	width:400px;
	height:400px;
	background-color: #aaaaaa;
}

.big-font {
	font-size: 3em;
}

#bright-yellow { 
background-color: rgba(231, 240, 135, 0.4);
width:500
height:500;
}